# Intro to Pandas

In [4]:
import pandas as pd
import numpy as np

pandas dataframe from dict:

In [18]:
my_dict = {
    "city": ["Essen", "Dortmund", "Bochum"],
    "inhabitants": [45678, 765432, 76594],
    "xyz": np.random.random(3)
}

df_dict = pd.DataFrame(my_dict, index=["a", "b", "c"])
df_dict

       city  inhabitants       xyz
a     Essen        45678  0.339016
b  Dortmund       765432  0.777879
c    Bochum        76594  0.410475

pandas dataframe from list (column names specified in DataFrame func)

In [13]:
import random

my_list = [
    ["Essen", 45678, random.random],
    ["Bochum", 345678, random.random]
]

df_list = pd.DataFrame(my_list, columns=["city", "inhabitants", "random"])
df_list

     city  inhabitants                                             random
0   Essen        45678  <built-in method random of Random object at 0x...
1  Bochum       345678  <built-in method random of Random object at 0x...

slicing and indexing

In [15]:
df_dict["city"]

0       Essen
1    Dortmund
2      Bochum
Name: city, dtype: object

In [ ]:
cols = ["city", "xyz"]
df_dict[cols]

In [19]:
df_dict.loc[["a", "b"]]

       city  inhabitants       xyz
a     Essen        45678  0.339016
b  Dortmund       765432  0.777879

In [21]:
df_dict.loc[["b","c"], ["city", "xyz"]]

       city       xyz
b  Dortmund  0.777879
c    Bochum  0.410475

In [22]:
df_dict.iloc[1:, 1:] # ist exklusix, 1:2 gibt nicht b raus, 1:3 gibt a und b raus

   inhabitants       xyz
b       765432  0.777879
c        76594  0.410475